# **Python para an√°lise de dados(Pandas)**

In [33]:
#importando a biblioteca pandas
import pandas as pd

In [34]:
df = pd.read_csv("../datasets/Gapminder.csv", on_bad_lines='skip', sep=";")

In [35]:
#Visualizando as 5 primeiras linhas
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [36]:
df = df.rename(
    columns={
        "country":"Pais", 
        "continent": "continente", 
        "year":"Ano", 
        "lifeExp":"Expectativa de vida", 
        "pop":"Pop Total", 
        "gdpPercap": "PIB"
        }
    )

In [37]:
# Arredondando os valores flutuantes com duas casas decimais
df = df.round({'Expectativa de vida': 2, 'PIB': 2})

In [38]:
df.head(10)

          Pais continente   Ano  Expectativa de vida  Pop Total     PIB
0  Afghanistan       Asia  1952                28.80    8425333  779.45
1  Afghanistan       Asia  1957                30.33    9240934  820.85
2  Afghanistan       Asia  1962                32.00   10267083  853.10
3  Afghanistan       Asia  1967                34.02   11537966  836.20
4  Afghanistan       Asia  1972                36.09   13079460  739.98
5  Afghanistan       Asia  1977                38.44   14880372  786.11
6  Afghanistan       Asia  1982                39.85   12881816  978.01
7  Afghanistan       Asia  1987                40.82   13867957  852.40
8  Afghanistan       Asia  1992                41.67   16317921  649.34
9  Afghanistan       Asia  1997                41.76   22227415  635.34

In [39]:
#Total de linhas e colunas
df.shape

(3312, 6)

In [40]:
# Para listar todas a colunas do DataFrame
df.columns

Index(['Pais', 'continente', 'Ano', 'Expectativa de vida', 'Pop Total', 'PIB'], dtype='object')

In [41]:
# Para saber os tipos de dados presentes em cada coluna no DataFrame
df.dtypes

Pais                    object
continente              object
Ano                      int64
Expectativa de vida    float64
Pop Total                int64
PIB                    float64
dtype: object

In [42]:
# Para listar o DataFrame de traz para frente (Da calda = Tail)
df.tail(15)

          Pais continente   Ano  Expectativa de vida  Pop Total      PIB
3297    Zambia     Africa  1997                40.24    9417789  1071.35
3298    Zambia     Africa  2002                39.19   10595811  1071.61
3299    Zambia     Africa  2007                42.38   11746035  1271.21
3300  Zimbabwe     Africa  1952                48.45    3080907   406.88
3301  Zimbabwe     Africa  1957                50.47    3646340   518.76
3302  Zimbabwe     Africa  1962                52.36    4277736   527.27
3303  Zimbabwe     Africa  1967                54.00    4995432   569.80
3304  Zimbabwe     Africa  1972                55.64    5861135   799.36
3305  Zimbabwe     Africa  1977                57.67    6642107   685.59
3306  Zimbabwe     Africa  1982                60.36    7636524   788.86
3307  Zimbabwe     Africa  1987                62.35    9216418   706.16
3308  Zimbabwe     Africa  1992                60.38   10704340   693.42
3309  Zimbabwe     Africa  1997                46.81   11404948   792.45
3310  Zimbabwe     Africa  2002                39.99   11926563   672.04
3311  Zimbabwe     Africa  2007                43.49   12311143   469.71

In [43]:
# Retorna a an√°lise est√°tistica do nosso DataFrame
df.describe()

               Ano  Expectativa de vida     Pop Total            PIB
count  3312.000000          3312.000000  3.312000e+03    3312.000000
mean   1980.301630            65.246881  3.161489e+07   11317.115821
std      16.927294            11.768389  1.041193e+08   11369.142710
min    1950.000000            23.600000  5.941200e+04     241.170000
25%    1967.000000            58.337500  2.678572e+06    2514.627500
50%    1982.000000            69.610000  7.557218e+06    7838.505000
75%    1996.000000            73.660000  1.958522e+07   17357.882500
max    2007.000000            82.670000  1.318683e+09  113523.130000

In [44]:
# Retorne Apenas os valores unicos da coluna continente
df["continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [53]:
# Armazene na vari√°vel Ocenia apenas os continentes iguais a Oceania
Oceania = df.loc[df["continente"] == "Oceania"]
Oceania.head()

     Pais continente   Ano  Expectativa de vida  Pop Total      PIB
975  Fiji    Oceania  1962                56.49     421869  2039.39
976  Fiji    Oceania  1967                58.61     485000  2170.07
977  Fiji    Oceania  1972                60.64     544000  2797.76
978  Fiji    Oceania  1977                62.67     599339  3182.57
979  Fiji    Oceania  1982                64.68     658906  3209.26

In [46]:
# Verificando se de fato existe apenas o continente Oceania dentro da coluna continente
Oceania["continente"].unique()

array(['Oceania'], dtype=object)

In [47]:
# Utilizando o m√©todo de agrupamento GroupBy e fazendo uma
# contagem distinta usando o nunique (Quantos Paises existem para cada continente)
df.groupby("continente")["Pais"].nunique()

continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: Pais, dtype: int64

In [62]:
# Para cada ano, qual √© a expectativa m√©dia de vida? usando o m√©todo mean()
df.groupby("Ano")["Expectativa de vida"].mean().round(2)

Ano
1950    62.00
1951    65.90
1952    49.21
1953    66.67
1954    67.46
1955    67.81
1956    67.95
1957    51.61
1958    68.82
1959    68.23
1960    68.47
1961    68.86
1962    54.04
1963    69.60
1964    70.06
1965    70.26
1966    70.45
1967    56.26
1968    70.69
1969    70.65
1970    70.96
1971    71.10
1972    58.47
1973    71.50
1974    71.78
1975    71.94
1976    72.16
1977    60.43
1978    72.72
1979    73.02
1980    73.06
1981    73.34
1982    62.37
1983    73.79
1984    74.10
1985    74.11
1986    74.45
1987    63.98
1988    74.76
1989    74.92
1990    74.28
1991    74.37
1992    65.01
1993    74.32
1994    74.46
1995    74.55
1996    75.03
1997    65.87
1998    75.57
1999    75.70
2000    76.03
2001    76.26
2002    66.84
2003    76.59
2004    76.92
2005    76.72
2006    77.89
2007    67.87
Name: Expectativa de vida, dtype: float64

In [66]:
# O m√©todo mean() retorna o c√°culo d√° m√©dia
df["PIB"].mean().round(2)

11317.12

In [67]:
# O m√©todo sum() retorna a soma total de todas as colunas
df["PIB"].sum().round(2)

37482287.6